/* Page.css */
.page {
    height: 100vh;
    padding-bottom: -6%;
    background-color: #1f1f1f;
    padding: 0px 20px 0px 20px;
    overflow: hidden;
}

.search-container {
    height: 10vh !important;
    margin-bottom: -20%;

}
.inline{
    display: flex;
    justify-content:space-between;
}

/* Box.css */
.box {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 1% 2%;
    height: 80vh;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.generate-text {
    height: 66vh;
}

.search {
    margin-top: 2%;
    display: flex;
    justify-content: center;

}

.heading {
    margin: 1.5% 2%;
    color: #ffffff;
}

input[type="text"] {
    width: 90%;
    height: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;

}

.search-btn {
    margin: 10px;
    padding: 10px 30px;
    background-color: #000033;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.search-btn:hover {
    background-color: #000078;
}
